





#code, .CodeMirror {
  width: 100%;
  height: 100%;
}

.main-content-div {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding-top: 70px;
    height: 100%;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.app-form-controls {
    margin-top: 20px;
    margin-right: 5px;
}

.result-success {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #E6EFC2;
    padding: 5px;
    border: 1px solid;
    line-height: 3;
}

.result-failure {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #FBE3E4;
    line-height: 3;
    padding: 5px;
    border: 1px solid;

}

.navbar-brand {
    font-size: 2em; !important;
    line-height: 1; !important;
    font-weight: 400; !important;
    color: white; !important;
}