<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("img/favicon.png")">
<link rel="stylesheet" href="@routes.Assets.versioned("css/app.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("bower_components/bootstrap/dist/css/bootstrap.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("bower_components/codemirror/lib/codemirror.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("bower_components/codemirror/theme/dracula.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("bower_components/codemirror/addon/edit/matchbrackets.js")">
<script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.min.js")"></script>
<script src="@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
<script src="@routes.Assets.versioned("bower_components/angular/angular.min.js")"></script>
<script src="@routes.Assets.versioned("bower_components/angular-route/angular-route.min.js")"></script>
<script src="@routes.Assets.versioned("bower_components/codemirror/lib/codemirror.js")"></script>
<script src="@routes.Assets.versioned("bower_components/codemirror/mode/sql/sql.js")"></script>
<script src="@routes.Assets.versioned("bower_components/angular-ui-codemirror/ui-codemirror.js")"></script>
<script src="@routes.Assets.versioned("js/main.js")"></script>
<script src="@routes.Assets.versioned("js/controllers.js")"></script>
<script src="@routes.Assets.versioned("js/services.js")"></script>
