<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>HoconLint</title>
        @includes()
    </head>
    <body ng-app="app">
        <div>
                @headers()
            <div class="main-content-div" ng-controller="mainCtrl as main">
                <form class="main" id="code" name="code">
                    <div ui-codemirror="{ onLoad : main.codemirrorLoaded }" ui-codemirror-opts="main.codeMirrorOptions">
                        Code mirror here
                    </div>
                    <button type="button" class="btn btn-primary app-form-controls">Validate</button>
                    <button type="button" class="btn btn-secondary app-form-controls">Clear</button>
                </form>
                <div ng-show="main.resultMode">
                    {{"Hello Mr Athirkatchi"}}
                </div>
            </div>
        </div>
    </body>
</html>